@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
@import 'variables';
@import 'mixin';


#services{
    background-color: #EEEEEE;
    z-index: 10;
    margin-top: -30px;
    width: 100%;
    padding: 10px 0;
    .wrapper{
        width: 70%;
        margin: 60px auto;
        text-align: center;
        h4{
            text-align: center;
            font-weight: 300;
            letter-spacing: 2px;
        }
        .service_h{
            font-weight: 700;
            padding: 2.8rem 0;
            font-size: 3.2rem;
            width: 70%;
            text-align: center;
            margin: 0 auto;
        }
    }
}

.services_container{
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-around;
    .items{
        @include service;        
        background-color: transparent;
        transition: ease-out 150ms all;
    }
    .items:hover{
        border: 1px solid blue;
        transform: scale(1.1);
    }
    
}
.firsty{
    width: 20%;
    // margin-bottom: 20px;
    img{
        @include img;
    }
    h3{
        margin: 0;
        padding: 0;
        
    }   
    p{
        @include p;
    }
}
.secondy{
    width: 20%;
    img{
        @include img;
    }
    p{
        @include p;
    }
}
.thirdy{
    width: 20%;
    img{
        @include img;
    }
    p{
        @include p;
    }
}
.fourthy{
    width: 20%;
    img{
        @include img;
    }
    p{
        @include p;
    }
}